.checkbox {
    cursor: pointer;
    //hide input default styling
    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
    }

    & .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 50%;
    }

    &:hover input~.checkmark {
        background-color: #eee;
    }

    &:hover input:checked~.checkmark {
        background: var(--bs-secondary);
        background-size: cover;
        /* Ensures the image covers the area */
        background-position: center;
        /* Centers the image */
        background-repeat: no-repeat;
        /* Prevents repeating the image */
    }

    & .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    & input:checked~.checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    & .checkmark:after {
        left: 8px;
        top: 3px;
        width: 2.5px;
        height: 9px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

}