@use 'reset'; //reset file
@use 'root'; //root with all varribles

body{
    font-family: var(--ff-primary);
}

.App{
    min-height: 100vh;
    background-color: var(--bs-light);
    background-image: url('./../assets/images/bg-mobile-light.jpg');
    background-position:top;
    background-size: 100% 30%;//calculated from the design intialy 
    background-repeat: no-repeat;
    padding-inline: 40px;
    &__inner{
        max-width: 600px;
        margin-inline:auto;
    }

    @media (min-width : 500px) {
        background-image: url('./../assets/images/bg-desktop-light.jpg');
        background-position: top;
    }
    &.dark{
        background-color: var(--bs-darkest-dt);
        background-image: url('./../assets/images/bg-mobile-dark.jpg');
        @media (min-width : 500px) {
            background-image: url('./../assets/images/bg-desktop-dark.jpg');
            background-position: top;
        }
    }
}