.footer{
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    & button{
        color: var(--bs-darker-lt);
        &:hover{
            color: var(--bs-primary);
        }
        &.active{
            color: var(--bs-primary);
        }
    }
    &.dark{
        background-color: var(--bs-dark-dt);
        color: var(--bs-darker-dt);
    }
}

.drag-msg{
    text-align: center;
    color: var(--bs-darker-dt);
    padding: 40px;
}